/* 

.dropdown {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
a {
    color: #fff;
}
.dropdown dd,
.dropdown dt {
    margin: 0px;
    padding: 0px;
}
  
.dropdown ul {
    margin: -1px 0 0 0;
}
.dropdown dd {
    position: relative;
}
.dropdown a,
.dropdown a:visited {
    color: rgb(14, 13, 13);
    text-decoration: none;
    outline: none;
    font-size: 12px;
}
.dropdown dt a {
    background-color: #2e5e68;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 272px;
}
 .dropdown dt a span,
.multiselct span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
}
.dropdown dd ul {
    background-color: #b8ddf7;
    border: 0;
    color: rgb(24, 23, 23);
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 280px;
    list-style: none;
    height: 100px;
    overflow: auto;
}
.dropdown span.value {
    display: none;
}
.dropdown dd ul li a {
    padding: 5px;
    display: block;
}
.dropdown dd ul li a:hover {
    background-color: #fff;
}

.button {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all .25s ease-out;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0.85em 1em;
    margin: 0 1rem 1rem 0;
    font-size: .9rem;
    background: #2199e8;
    color: #fff;
} */

do  we need this?
