:root{
    --background: #333366;
    --light: #ccccff;    
}

#sidebar{
    background-color: var(--light);
}

#search-results{
    background-color: var(--background);
}

@media screen {
    
}


.top-img{
 height: 200px;
}