body{
    font-size: large;
    background-color: white;
}
.top-bar{
    font-family: sans-serif;
    background-image:url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/cute-kawaii-food-pattern-valentina-hramov.jpg");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size:cover;
    justify-content: center;
    height: 400px;
    margin-bottom: 20px;
    width: 100%;
}

h1{
    color: white;
    padding: 0;
    text-align: center;

}

.column{
    background-color: white;
    padding: 12px;
}

.hero-body{
    background-color: rgb(214 217 220);
}

.title{
    padding-bottom: 15px;
}

.hero-body{
    background-color: rgb(214 217 220);
}

.title{
    padding-bottom: 15px;
}

.hero-body{
    background-color: rgb(214 217 220);
}

.title{
    padding-bottom: 15px;
}


.sider{
    background-color: rgb(214 217 220);
    margin: 12px;
}

.button{
    margin-top: 1em;
    background-color: rgb(214 217 220);
}

.fa-plus{
    background-color: rgb(214 217 220);
    
}

.footer{
    align-content: space-around;
    padding: 0;
    margin-top: 1em;
    background-color: white;
}

li button{
    width: 100%;
    border: 0;
    margin-bottom: 5px;

}

.card-header-title{
    max-width: 100%;

}

.text-input-for-recipe{
    width: 100%;
min-height: 50px;
border: 1px solid grey;

}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.card-header-title{
    max-width: 100%;

}

.text-input-for-recipe{
    width: 100%;
min-height: 50px;
border: 1px solid grey;

}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)

}
